
.popupContainer {
    position: fixed;
    z-index: 110;
    background-color: #FFFFFF;
    border-radius: 4px;
    border: 2px solid white;
    top: 20%;
}

.backdrop {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: #000;
    opacity: 0.3;
    z-index: 100;
}

.orderContainer > div {
    width: 100%;
    background-color: #DDD;
    border: 1px solid #FFF;
    height: 40px;
}

.orderContainer button {
    margin-top: 6px;
}

.orderContainer button, .paginated-order-container .row-container button {
    width: 40%;
    text-align: left;
}

.orderContainer .header {
    font-weight: bold;
}

.orderContainer span {
    padding-top: 10px;
}

.popup {
    width: 660px;
    padding-bottom: 20px;
}

    .popup div {
        padding-top: 10px;
    }

.popupMainHead {
    font-size: 16px;
    font-weight: bold;
}

.popupHead {
    font-weight: bold;
}

.stateDropDown {
    left: 14px;
}

.linkContainer {
    border-bottom: 1px solid #000;
    padding: 15px;
    margin-bottom: 10px;
}

    .linkContainer a {
        padding: 10px;
    }

.paginated-order-container .order-header {
    width: 100%;
    background-color: #DDD;
    border: 1px solid #FFF;
    height: 40px;
    font-weight: bold;
}

.paginated-order-container .row-container {
    background-color: #DDD;
    border: 1px solid #FFF;
}

.paginated-order-container .order-row {
    width: 100%;
    height: 40px;
    cursor: pointer;
}

.paginated-order-container .order-header, .paginated-order-container .order-row {
    padding-top: 6px;
}

.order-details {
    border-top: 1px solid #FFF;
    padding: 10px 0;
}

    .order-details .detail-row {
        padding-bottom: 5px;
    }

.button-container > div {
    padding-top: 15px;
}

button[disabled], html input[disabled] {
    opacity: .5;
}

.loginContainer > div {
    padding: 15px;
}

.filterContainer {
    padding: 15px;
}

@media screen and (max-width: 1200px) {

    .orderContainer button, .paginated-order-container .row-container button {
        width: 50%;
    }
}

@media screen and (max-width: 767px) {
    .popup {
        width: 400px;
    }

    .stateColumn, .amountColumn, .loginText {
        display: none;
    }
}
